<!-- Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 8th 2022
Filename: footer.ejs -->

<div class="footer">
    <p>&copy;&nbsp;&nbsp;Copyright Chantelle Lawson-Centennial College-Fall 2022-COMP229-Assignment 1</p>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/appclient.js"></script>
</div>
</body>
</main>
</html>
