<!-- Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 22nd 2022
Filename: error.ejs -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
