<!-- Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 8th 2022
Filename: home.ejs -->

<%- include('partials/header.ejs') %>

<main>
    
    <% if(title == "Home"){  %>
        <div class="home-section">
            <h1>Welcome</h1>
            <p>This portfolio is a representation of my first time deploying a web application.</p>
            <p> Although I am new to the world of Web Application Development, I strive to be able to create
                software that will solve real life & business problems.</p>
            <p>Feel free to look around my portfolio by using the navigation bar provided above, or by clicking the links shown below.</p>
            <p id="about"><a href="/about">About Me</a></p>
            <p id="about"><a href="/projects">Projects</a></p>
            <p id="about"><a href="/services">Services</a></p>
            <p id="about"><a href="/users/contact">Contact</a></p>
            <p>Enjoy your time here!</p>
        </div>
    <% } %>

    <% if(title == "About Me"){ %>  

        <link rel='stylesheet' href='/stylesheets/about.css' />
        
        <div class="about">
                <h1>Hello, hello!</h1>
                <p>You have reached the point where I share a little bit about myself.</p>
            </div>
            <div class="row">
                <div class="col">
                <div class="profile">
                    <img src="/assets/mypic.jpg" alt="Chantelle" style="width:100%" />
                    <div class="container">
                    </div>
                </div>
                </div>

                <div class="col">
                    <div class="profile">
                        <div class="container">
                        <h2>About Me</h2>
                        <p id="title" class="title">Software Engineering Technology Student</p>
                        <p id="aboutme">My name is Chantelle Lawson. I am a second year student at Centennial College.</p>
                        <p>My program of study is Software Engineering Technology: Artificial Intelligence.</p>
                        <p id="resume">A copy of my resume can be found <a href="assets/chantellelawson_resume.pdf">here</a>.</p>
                        </div>
                    </div>
                </div>
    <% } %>

    <%- include('partials/footer.ejs') %>
