<% include partials/header.ejs %>
<main>
    
    <h1><%= title %></h1>

    <% if(title == "Home"){  %>
    <p>Welcome to <%= title %>'s' page</p>

    <% } %>

    <% if(title == "About Me"){ %>  

        <link rel='stylesheet' href='/stylesheets/about.css' />
        
        <div class="about-section">
                <h1>Welcome</h1>
                <p>Hello, hello!</p>
                <p>You have reached the point where I share a little bit about myself.</p>
            </div>
            <div class="row">
                <div class="column">
                <div class="card">
                    <img src="/mypic.jpg" alt="Chantelle" style="width:100%" />
                    <div class="container">
                    </div>
                </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="container">
                        <h2>About Me</h2>
                        <p class="title">Software Engineering Technology Student</p>
                        <p>My name is Chantelle Lawson.</p>
                        <p>That's all for now...Oh here is my resume, click below</p>
                        <p><a href="chantellelawson_resume.pdf">Resume</a><p></p>
                        </div>
                    </div>
                    </div>
    <% } %>

    
    <% if(title == "Contact"){ %>  

        <link rel='stylesheet' href='/stylesheets/contact.css' />
        
        <div class="container">
            <div style="text-align:center">
            <p>Swing by for a cup of coffee, or leave us a message:</p>
            </div>
            <div class="row">
            <div class="column">
                <img src="/tractricoid.jpg" style="width:100%">
            </div>
            <div class="column">
                <form action= "/";>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." required="required">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name.." required="required">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." required="required" style="height:170px"></textarea>
                <input type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>
<% } %>

<% include partials/footer.ejs %>
