<!-- Student name: Chantelle Lawson
Student number: 301216199
Assignment Due Date: October 22nd 2022
Filename: users.ejs -->

<% include partials/header.ejs %>

    <h2><%= title %></h2>
    <p>This is <%= name %>'s page</p>

<% include partials/footer.ejs %>
 
