/* Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 8th 2022
Filename: about.css */


    body {
        font-family: Helvetica, sans-serif;
        margin: 0;
    }
    html {
        box-sizing: content-box;
    }
    .col{
        float: left;
        width: 50%;
        margin-bottom: 10px;
        padding: 0 8px;
    }    
    .profile {
        box-shadow: 0 10px 15px 0 rgb(37,40,57);
        margin: 5px;
        height: auto;
        width: auto;
    }
    .about{
        padding: 50px;
        text-align: center;
        background-color:  rgb(89,92,113);
        color: rgb(241,242,252);
    }
    .container {
        padding: 0 16px;
    }
    .title {
        color: rgb(203,206,224);
    }

    /* This code is from w3schools */
    @media screen and (max-width: 650px) {
        .col{
        width: 100%;
        display: block;
        }
    }
