/* Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 22nd 2022
Filename: contact.css */
    
    * {
        box-sizing: border-box;
    }
    
    /* inputs style */
    input[type=text],textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(240,240,241);
        margin-top: 6px;
        margin-bottom: 16px;
    }
    input[type=submit] {
        background-color: rgb(50,74,178);
        color: rgb(240,240,241);
        padding: 12px 20px;
        border: none;
    }
    input[type=submit]:hover {
        background-color: rgb(0,166,147);
    }
    .container {
        border-radius: 5px;
        background-color: rgb(240,240,241);
        padding: 10px;
    }
    /* 2 floating columns*/
    .col{
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }

    /* This code is from w3schools */
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .col, input[type=submit] {
        width: 100%;
        margin-top: 0;
        }
    }
    