/* Student name: Chantelle Lawson
Student number: 301216199
Midterm Due Date: October 8th 2022
Filename: style.css */

html {
  position: relative;
  min-height: 100%;
}
main {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table{
  text-align: left;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.flash{
  color: rgb(227,255,0);
}

